{% extends '_layout/default.html.twig' %}

{% block content %}
    <h1>User</h1>
    
    <button class="mdl-button mdl-js-button mdl-button--icon" onclick="location.href='{{ path('user_index') }}'">
        <i class="material-icons">view_list</i>
    </button>
    
    <div class="content-grid mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
               <h2 class="mdl-card__title-text">User details</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <table>
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Apitoken</th>
                            <td>{{ user.apiToken }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>{{ user.password }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ user.status }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
{#            <div class="mdl-card__actions mdl-card--border">#}
{#                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Edit</button>#}
{#            </div>#}
            
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised" onclick="location.href='{{ path('user_edit', { 'id': user.id }) }}'">
                    <i class="material-icons">create</i>
                </button>
                {{ form_start(delete_form) }}
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--icon mdl-button--raised">
                        <i class="material-icons">delete</i>
                    </button>
                {{ form_end(delete_form) }}
            </div>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
{% endblock %}
