{# app/Resources/views/security/register.html.twig #}

{% extends "fullform.html.twig" %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        
        <button type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock content %}
